{% extends 'layout.html' %}
{% block content %}
    <h1><center>About Us</center></h1>

    <h2>Our Mission Statement</h2>
    <p>To help parents who don't have time for storytime.</p>

    <h2>What our website does</h2>
    <p><b>A Child's Story</b> is designed to provide parents with unique stories when they've run out of 
        stories to read or don't have time to read a bedtime story. Our website is extremely easy to use, 
        all you have to do is sign in, provide us with your child's name and age, the title of the story, 
        and a brief description of the content you would like the story to be about. We use the same API as 
        popular AI ChatGPT to come up with unique stories and imaages every use.</p>
    
    <h2>Learn about our team</h2>
    <p><b>Nicholas Semaan:</b> Fourth year computer science student at SJSU. Primarily worked on the frontend 
        and on the connection between front and backend of our website.</p>
    <p><b>Kyle Louderback:</b> Fourth year computer science student at SJSU. Primarily worked with the API, 
        on the backend, and on the connection between front and backend of our website.</p>
    <p><b>Dexter Estrada:</b> Fourth year computer science student at SJSU. Primarily worked on the backend, 
        and on the connection between front and backend of our website.</p>
    <p><b>Kevin Ngo:</b> Fourth year computer science student at SJSU. Worked on every part of the website and 
        on connection between front and backend.</p>
{% endblock %}