{% extends 'layout.html' %}
{% block content %}
<h1>Browse All</h1>
<!--	<div class="mx auto" style="width: 200px;"> -->
<h4> Browsing {{ posts|length }} posts </h4>

	<div class="card-deck">
		{% for p in posts %}
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src=".../100px180/" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title"> {{p.title}} </h5>
					<h6 class="card-subtitle mb-2 text-muted">{{p.date_posted}}</h6>
					<p class="card-text"> {{p.content}} </p>
					<a href="#" class="btn btn-primary">Read book</a>
				</div>
			</div>
		{% endfor %}
	</div>

<!--	</div> -->
{% endblock %}