{% extends "layout.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4">{{ post_title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <img src="{{ image_url }}" alt="Generated image" class="img-fluid rounded">
            </div>
            <div class="col-md-8">
                <p>{{ book_content }}</p>
                {% if pdf_key %}
                    <a href="{{ url_for('download_pdf', pdf_key=pdf_key) }}" class="btn btn-primary mt-3">Download PDF</a>
                {% endif %}
                <br>
                <br>
            </div>
        </div>

    </div>
{% endblock %}
