{% extends 'layout.html' %}
{% block content %}
<h1>{{title}}</h1>
<!--	<div class="mx auto" style="width: 200px;"> -->
<h4> Browsing {{ posts|length }} most recent posts </h4>

	<div class="container">
		<div class="row row-cols-3 g-4">
			{% for p in posts %}

				<div class="col">
						<div class="card h-100 src=".../100px180/" alt="Card image cap">
							<form action="{{ url_for('book') }}" method="GET" role="form" class="form-horizontal">
								<div class="card-body d-flex flex-column">
								
									<h5 class="card-title"> {{p.title}} </h5>
									<h6 class="card-subtitle mb-2 text-muted">{{p.date_posted}}</h6>
									<p class="card-text"> {{p.content}} </p>
									
									
									<button type="submit" class="btn btn-primary btn-lg mt-auto" name="read" value="{{ p.id }}">
										Read Now
									</button>
									
								</div>
							</form>
						</div>
				</div>
			{% endfor %}
		</div>
	</div>

<!--	</div> -->
{% endblock %}